.price{
    font-size: 44px;
    font-weight: bold;
    margin-left: 25px;
    color: brown;
}
.package-title{
    color: brown;
    font-weight: bold;
}
.package-btn{
    background-color: brown;
    font-weight: bold;
    color: white;
}