.price{
    font-size: 44px;
    font-weight: bold;
    margin-left: 25px;
    color: brown;
}
.package-title{
    color: brown;
    font-weight: bold;
}
.package-btn{
    font-weight: bold;
    color: black;
    border: 1px solid gray;
}
.package-btn:hover{
    color: white;
    background-color: brown;
}