.service-tain{
    color: white;
    text-align: center;
}
.taine-name{
    background-color: gray;
    border-radius: 10px;
}
.taine-name:hover{
    background-color: indigo;
    color: khaki;
}
.service-tain:hover{
    overflow: hidden;
    transform: scale(1.05);
    transition: transform 1s;
}