.service-product{
    text-align: center;
    padding-top: 20px;
}
.name{
    color: gray;
}
.btn-product{
    border: 1px solid black;
    font-weight: bold;
}
.btn-product:hover{
    background-color: yellow;
}
.service-product:hover{
    overflow: hidden;
    transform: scale(1.1);
    transition: transform 1s;
    background-color: rgb(240, 236, 232);
    border-radius: 25px;
}