.service-product{
    text-align: center;
}
.name{
    color: gray;
}
.btn-product{
    border: 1px solid black;
    font-weight: bold;
}
.btn-product:hover{
    background-color: yellow;
}
.service-product:hover{
    background-color: rgb(240, 233, 233);
    border-radius: 20px;
    padding-top: 20px;
}