.service-class{
    border: 1px solid gray;
    text-align: center;
}
.service-class:hover{
    color: khaki;
    background-color: gray;
}
.service-class h3{
    color: brown;
    font-weight: bold;
}
.service-class:hover{
    overflow: hidden;
    transform: scale(1.02);
    transition: transform 1s;
}
.class-btn{
    background-color: brown;
    font-weight: bold;
    color: white;
}
.btn-book{
    margin-left: 20px;
}
.btn-read{
    margin-right: 20px;
}