.service-class{
    border: 1px solid gray;
}
.service-class:hover{
    color: khaki;
    background-color: gray;
}
.service-class h3{
    color: rgb(128, 36, 0);
}
.service-class h3:hover{
    color: yellow;
}