.service-class{
    border: 1px solid gray;
    text-align: center;
}
.service-class:hover{
    color: khaki;
    background-color: gray;
}
.service-class h3{
    color: rgb(128, 36, 0);
}
.service-class h3:hover{
    color: yellow;
}
.service-class:hover{
    overflow: hidden;
    transform: scale(1.02);
    transition: transform 1s;
}